<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="3"
    android:versionName="1.2" >


	<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	 <uses-permission android:name="android.permission.INTERNET"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <activity android:name=".activities.DataUsageActivity"
                  android:exported="true" >
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.PlanUsageActivity" android:exported="false" >
        </activity>
        <activity android:name=".activities.HistoryActivity" android:exported="false" >
        </activity>
        <activity android:name=".activities.HelpActivity" android:exported="false" >
        </activity>
        <activity android:name=".activities.SettingsActivity" android:exported="false" >
        </activity>
        <activity android:name=".activities.HistoryDetailActivity" android:exported="false" >
        </activity>
  <activity android:name=".activities.FAQActivity" android:exported="false" />
  <activity android:name="com.google.android.gms.ads.AdActivity"
            android:exported="false"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${ADMOB_APP_ID}" />
 
        <receiver
        android:name=".widget.DataUsageCellularUsageProvider"
        android:exported="true"
        android:icon="@drawable/icon"
        android:label="@string/DataUsageCellularUsage" >
        <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>
        <meta-data
            android:name="android.appwidget.provider"
            android:resource="@xml/widget_usage" />
    </receiver>
        <receiver
        android:name=".widget.DataUsageWiFiUsageProvider"
        android:exported="true"
        android:icon="@drawable/icon"
        android:label="@string/DataUsageWiFiUsage" >
        <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            
        </intent-filter>

        <meta-data
            android:name="android.appwidget.provider"
            android:resource="@xml/widget_usage" />
    </receiver>
    </application>
</manifest>
